# --- Core Project Configuration ---
PROJECT_ID=
REGION=
GCP_USER_ACCOUNT= # The primary user account for gcloud auth

GEMINI_MODEL_NAME=

# --- GCS Bucket Configuration ---
STAGING_GCS_BUCKET=
SOURCE_GCS_BUCKET=

# --- Google Drive FUSE Configuration (Required for ocamlfuse) ---
GDRIVE_CLIENT_ID=
GDRIVE_CLIENT_SECRET=

# --- OPTIONAL ---
# Authenticate with the service account. Defaults to Google Auth without this set.
SERVICE_ACCOUNT_KEY_FILE=

# --- GIT Configuration ---
GIT_USER_NAME=
GIT_USER_EMAIL=
